plotly        
anaconda
python
numpy
pandas
xarray
netcdf4
matplotlib
scikit-learn
scipy
statsmodels
cmocean
basemap
basemap-data-hires
spyder
notebook
termcolor
imageio
ipyleaflet
dash
plotly
cftime
gunicorn
django
python-dateutil
